@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&family=Poppins:wght@700&display=swap");

/*
  The following Tailwind directives require your build tool to process this file with Tailwind CSS.
  If you see an "Unknown at rule @tailwind" error, make sure Tailwind is set up in your project.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.name-heading {
  font-family: "Poppins", sans-serif;
}

